body {
    background-color: black;
    margin: 0;
}

#root {
    font-family: 'Press Start 2P', Consolas, monospace;
    padding: 3rem 0 0;
    text-align: center;
}

#root h1 {
    font-family: 'Press Start 2P', Consolas, monospace;
    color: white;
}

#root canvas {
    display: block;
    margin: 0 auto;
}
